numpy==2.4.3
scipy==1.17.1
scikit-learn==1.8.0
matplotlib==3.10.8
tqdm==4.67.3
pyyaml==6.0.3
tensorboard==2.20.0
tensorboardX==2.6.4
thop==0.1.1.post209072238
easydict==1.13
fvcore==0.1.5.post20221221
torchpack==0.3.1
torch==2.11.0+cu126
resource==0.2.1
opencv-python==4.13.0.92
ultralytics==8.4.46